.envrc
kubeconfig
*.pem
./.idea
.env
*.age
*.key
*.iml

.venv/
frontend/node_modules/
frontend/dist/
**/__pycache__/
*.egg-info/
*.crt
*.env
*.key
kubeconfig

.history/
.ansible/

.claude/
.codex/
.idea/
.agents/
